a.admin-link {
    position: fixed;
    top: 1.5em;
    right: 0;
    background-color: black;
    display: block;
    padding: .5em 1em;
    color: white;
    border: solid 1px black;
    text-decoration: inherit;
    text-shadow: none;
    font-weight: bold;
    font-size: 1.2em;
    &:hover {
        box-shadow: 0 0 .3em rgba(0, 0, 0, .5);
    }
    &:after {
        content: '\27A1';
        display: inline-block;
        margin-left: .5em;
        width: 1em;
    }
}