html {
    height: 100%;
}

body {
    height: 100%;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.app {
    display: -ms-grid;
    height: 100%;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
    background: linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.global-nav ul {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.global-nav ul li {
    margin: 0;
    padding: 0;
}

.global-nav a {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    color: #fff;
    float: left;
}

.global-nav a:hover {
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1));
    background: linear-gradient(top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1));
}

.global-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 30em;
}

.global-info ul li {
    margin: 0;
    padding: 0;
    float: left;
    /*    text-indent:-9999px;
    width:16px;*/
    height: 16px;
    padding: .5em;
    padding-left: 2em;
    background-position: .5em center;
    background-repeat: no-repeat;
}

.global-info ul li:hover {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3) inset;
}

h1 {
    padding: .5em .2em !important;
    margin: 0 !important;
}

.search.global {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
}

.split {
    padding: 0 .5%;
    width: 49%;
    float: left;
}

.page-options ul, .page-options li {
    margin: 0;
    padding: 0;
}

.page-options {
    list-style: none;
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    border: solid 1px rgba(0, 0, 0, .4);
    border-radius: 3px;
    margin-bottom: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    overflow: auto;
}

.page-options li {
    background-color: rgba(0, 0, 0, .3);
    overflow: hidden;
    display: block;
    float: left;
}

.page-options li:hover {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4));
    background: -o-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4));
    background: linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .4));
}

.page-options a {
    display: block;
    padding: .25em .5em;
    text-decoration: none;
    color: #fff;
    border-right: solid 1px rgba(0, 0, 0, .2);
    /*    background-color:rgba(0, 0, 0, .3);*/
    float: left;
}

.page-options a:active {
    -webkit-transform: translate(1px, 1px);
    -moz-transform: translate(1px, 1px);
    -ms-transform: translate(1px, 1px);
    -o-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
}

.page-options .option-icon a {
    padding-left: 2em;
    background-repeat: no-repeat;
    background-position: .5em center;
}

.page-options.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background: -moz-linear-gradient(top, #fff, #f2f2f2);
    background: -ms-linear-gradient(top, #fff, #f2f2f2);
    background: -o-linear-gradient(top, #fff, #f2f2f2);
    background: linear-gradient(top, #fff, #f2f2f2);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .3);
}

ul.links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

ul.links li {
    margin: 0;
    padding: 0;
}

ul.links a {
    display: block;
    padding: .5em;
    border-top: solid 1px #ccc;
}

ul.links li:first-child a {
    border: none;
}

ul.links a:hover {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
}

.page-help-trigger {
    display: block;
    background: url(/images/icons/silk/help.png) no-repeat center center rgba(0, 128, 0, 0);
    margin: 0;
    padding: 2em;
    border: none;
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 3;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    cursor: pointer;
    opacity: .5;
    border-radius: 3px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.page-help-trigger:hover {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.page-help {
    position: fixed;
    top: 7.5%;
    right: 0;
    width: 20%;
    height: 85%;
    background: #fff;
    border: solid 1px #808080;
    border-right: none;
    box-shadow: 0 0 .3em rgba(0, 0, 0, .3);
    z-index: 2;
    padding: 1em;
    overflow: auto;
}

.flash-messages {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .5);
    border-bottom: solid 1px #000;
    color: #fff;
    box-shadow: 0 -.3em .3em rgba(255, 255, 255, .2) inset, 0 .3em .3em rgba(0, 0, 0, .2) inset;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2em;
    transition: .5s;
    li {
        padding: 1em;
        margin: 0;
    }
    &.hidden {
        opacity: 0;
    }
    &.errors {
        background-color: rgba(127, 0, 0, .5);
    }
}
