.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  z-index: 9999; }

.modal {
  min-width: 50%;
  max-width: 80%;
  background-color: #fff;
  margin: auto;
  padding: 1% 2%;
  margin-top: 5%;
  border: solid 0.5em rgba(0, 0, 0, 0.5);
  border-radius: .5em;
  position: relative;
  margin-bottom: 100px;
  z-index: 9999; }

.modal-close {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 4px;
  border-radius: 16px;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background: url(/images/icons/silk/cross.png) center no-repeat;
  background-color: rgba(128, 0, 0, 0.3);
  border: solid 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: .8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7); }

.modal-close:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.modal h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 1em; }

.whole-rows-clickable tbody tr:hover td {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer; }

.whole-rows-clickable a {
  color: inherit; }

.clickable {
  cursor: pointer; }

.global-loading {
  /*    position:fixed;
  z-index:99999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url(/images/ui/ajax-loader.gif) no-repeat center;*/
  z-index: 99999;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .5em;
  background-color: #f90; }

.sortable .header {
  cursor: pointer; }

.sortable .headerSortDown, .sortable .headerSortUp {
  background-color: #f2f2f2; }

.context {
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
  max-width: 20em;
  border: solid 1px gray; }

.context li {
  margin: 0;
  padding: 0.5em 0.7em; }

.context li:hover {
  background-color: #f2f2f2; }

.collection {
  padding: 1em;
  width: 2%;
  position: absolute;
  left: 98%;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.collection:hover {
  width: 80%;
  left: 20%; }

.global-note {
  width: 50%;
  background-color: #ff6;
  padding: 1em;
  margin: auto;
  border: solid 1px gray;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 100; }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 3px;
  margin: 1px; }

.icon:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border: solid 1px gray;
  border-radius: 3px;
  background-color: #f2f2f2;
  margin: 0; }

.icon.delete, .icon .option-icon.delete a {
  background-image: url(/images/icons/silk/bin.png); }

.icon.minus, .icon .option-icon.minus a {
  background-image: url(/images/icons/silk/delete.png); }

.icon.plus, .icon .option-icon.plus a {
  background-image: url(/images/icons/silk/add.png); }

.icon.pdf, .icon .option-icon.pdf a {
  background-image: url(/images/icons/silk/page_white_acrobat.png); }

.icon.default, .icon .option-icon.default a {
  background-image: url(/images/icons/silk/tick.png); }

.icon.comment, .icon .option-icon.comment a {
  background-image: url(/images/icons/silk/comment.png); }

.icon.open, .icon .option-icon.open a {
  background-image: url(/images/icons/silk/arrow_right.png); }

.icon.email, .icon .option-icon.email a {
  background-image: url(/images/icons/silk/email.png); }

.icon.preview, .icon .option-icon.preview a {
  background-image: url(/images/icons/silk/magnifier.png); }

.icon.copy, .icon .option-icon.copy a {
  background-image: url(/images/icons/silk/page_copy.png); }

.icon.save, .icon .option-icon.save a {
  background-image: url(/images/icons/silk/disk.png); }

.icon.move-up, .icon .option-icon.move-up a {
  background-image: url(/images/icons/silk/arrow_up.png); }

.icon.move-down, .icon .option-icon.move-down a {
  background-image: url(/images/icons/silk/arrow_down.png); }

.icon.drag-handle, .icon .option-icon.drag-handle a {
  background-image: url(/images/icons/silk/arrow_out.png); }

.icon.image, .icon .option-icon.image a {
  background-image: url(/images/icons/silk/image.png); }

.icon.warning, .icon .option-icon.warning a {
  background-image: url(/images/icons/silk/error.png); }

[draggable=true] {
  cursor: move; }

.inline-edit {
  cursor: pointer; }

.inline-edit:hover {
  background-color: #ff9; }

.inline-edit form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  cursor: default;
  z-index: 9999; }

.inline-edit input[type=text], .inline-edit input[type=date], .inline-edit textarea, .inline-edit select {
  /* Doesn't work with margin:20% 25% in Opera -.- */
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50% !important;
  display: block;
  font-size: 1.5em !important;
  padding: 0.5em 0.3em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  line-height: 1.3em !important;
  font-family: inherit;
  /*    outline:solid .05em #000 https://bugzilla.mozilla.org/show_bug.cgi?id=480888 */
  border: solid 0.05em black;
  overflow: auto !important; }

.inline-edit input[type=submit] {
  position: absolute;
  top: 20%;
  left: 76%;
  background: url(/images/icons/silk/tick.png) 8px center #ccffcc no-repeat;
  border: none;
  height: 16px;
  padding: 8px;
  padding-left: 32px;
  display: block;
  box-sizing: content-box;
  border: solid 1px gray;
  border-radius: .3em;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  color: #000;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  cursor: pointer; }

.inline-edit input[type=submit]:hover {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 0.5em rgba(0, 0, 0, 0.3); }

.inline-edit input[type=text], .inline-edit input[type=date], .inline-edit textarea {
  height: 1.3em !important; }

.inline-edit textarea {
  height: 30% !important; }

.clickable {
  cursor: pointer;
  color: #666;
  text-decoration: none; }

th.filterable {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative; }

th.filterable .filter-toggle {
  border: none;
  width: 16px;
  height: 16px;
  display: block;
  margin-left: 1em;
  float: right;
  background-color: transparent;
  background: url(/images/icons/silk/table_lightning.png) no-repeat;
  text-indent: -9999px;
  opacity: .3;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

th.filterable:hover {
  background-color: rgba(0, 0, 0, 0.05); }

th.filterable .filter-toggle:hover {
  opacity: 1; }

th.filterable input {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: .5em;
  right: .5em;
  width: 30%; }

.drop-on.drag-over {
  opacity: .3; }

tr.drop-above.drag-over td {
  box-shadow: 0 3px 0 rgba(0, 128, 0, 0.3) inset; }

tr.drop-below.drag-over td {
  box-shadow: 0 -3px 0 rgba(0, 128, 0, 0.3) inset; }

tbody.drop-above.drag-over tr:first-child td {
  box-shadow: 0 3px 0 rgba(0, 128, 0, 0.3) inset; }

tbody.drop-below.drag-over + tbody tr:first-child td {
  box-shadow: 0 3px 0 rgba(0, 128, 0, 0.3) inset; }

.draggable-locked {
  cursor: wait; }

.draggable-locked.drag-handle {
  opacity: .1; }

.draggable-locked, .draggable-locked * {
  color: rgba(0, 0, 0, 0.5); }

.drag-over {
  outline: solid 1px #cccccc;
  background-color: rgba(0, 0, 0, 0.05); }
