.tabbed {
    display: flex;
    border: solid 1px #ccc;
    border-radius: .2em;
    &>.tabs {
        flex: 0 0 20em;
        list-style: none;
        margin: 0;
        padding: 0;
        border-right: solid 1px #ddd;
        background-color: rgba(0, 0, 0, .03);
        &>li {
            margin: 0;
            padding: 0;
            &.active {
                font-weight: bold;
                a {
                    background-color: white;
                }
            }
        }
        a {
            display: block;
            padding: .5em;
            color: inherit;
            text-decoration: inherit;
            border-bottom: solid 1px rgba(0, 0, 0, .05);
            &:hover {
                background-color: white;
            }
        }
    }
    &>article {
        display: none;
        flex: 1 0 auto;
        padding: .5em 1em;
        &.active {
            display: block;
        }
    }
}