@import "imports";

form {
    &.labels-top {
        .form-row {
            margin-bottom: lh(1);
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    &.labels-right, &.labels-left {
        $label-width: 10em;
        .form-row {
            display: flex;
            margin-bottom: lh(.5);
            &.submit {
                padding-left: $label-width;
            }
        }
        label, .label {
            width: $label-width;
        }
    }
}

label, .label {
    &:after {
        content: ':';
    }
}

input {
    &[type=text] {
        min-width: 20em;
    }
    &[type=submit] {
        @include button-primary;
    }
    &[type=radio] {
        cursor: pointer;
    }
}

.form-row {
    &.radio, &.checkbox {
        input[type=radio] {
            display: inline-block;
            margin-right: .2em;
        }
        label {
            display: inline-block;
            margin-right: lh(1);
            cursor: pointer;
            &:after {
                content: '';
                display: none;
            }
        }
    }
}
