.admin-tabs {
  display: flex;
  border: solid 1px lightgray;
  border-radius: .2rem; }
  .admin-tabs > ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.03);
    width: 15em; }
    .admin-tabs > ul a {
      display: block;
      line-height: 1;
      padding: 0.75rem 1.05rem;
      border-bottom: solid 1px lightgray;
      text-decoration: inherit;
      color: inherit; }
      .admin-tabs > ul a:hover {
        background-color: white; }
    .admin-tabs > ul li {
      background-color: rgba(0, 0, 0, 0.03); }
      .admin-tabs > ul li.active {
        font-weight: bold;
        background-color: #ffffff;
        position: relative;
        width: calc(100% + 1px); }
  .admin-tabs > article {
    display: none;
    flex: 1 0 auto;
    padding: 1.5rem;
    border-left: solid 1px lightgray; }
    .admin-tabs > article.active {
      display: block; }
