.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  line-height: 1.5; }
  .dialog-backdrop .dialog {
    display: inline-block;
    margin: auto;
    max-height: 60vh;
    margin-top: 20vh;
    overflow: auto;
    background-color: white;
    max-width: 80em;
    min-width: 20em;
    font-size: 14px;
    text-align: left;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    padding: 1.5em;
    position: relative; }
    .dialog-backdrop .dialog > *:first-child {
      margin-top: 0; }
    .dialog-backdrop .dialog > *:last-child {
      margin-bottom: 0; }
    .dialog-backdrop .dialog a {
      color: #00b3ff; }
    .dialog-backdrop .dialog input[type=number] {
      font-size: inherit;
      padding: .2em; }
    .dialog-backdrop .dialog > .close {
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -9999px;
      width: .9cm;
      height: .9cm;
      background: none;
      font-size: .7cm;
      line-height: .75cm;
      color: #333;
      opacity: .7;
      font-weight: bold;
      border: none; }
      .dialog-backdrop .dialog > .close:after {
        content: '\00D7';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-indent: 0; }
      .dialog-backdrop .dialog > .close:hover {
        opacity: .9; }
      .dialog-backdrop .dialog > .close:focus {
        box-shadow: none; }
